<div class="login-register" style="background-image:url(assets/images/login-register.jpg);">
    <div class="login-register-box">
        <mat-card class="m-t-10">
        <mat-card-content>
        <form id="loginform">
            <div class="text-center">
                <h4 class="m-t-0">Peachtree Bank</h4>
                <div>Login: demo / demo</div>
            </div>
            <div *ngIf="msg" class="bg-danger p-10 text-white">{{ msg }}</div>
            <div fxLayout="row wrap">
                <!-- col full-->
                <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
                    <mat-form-field>
                    <input matInput placeholder="E-mail" required="" #email>
                    </mat-form-field>
                </div>
                <!-- col full-->
                <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
                    <mat-form-field>
                    <input matInput type="password" placeholder="Password" required="" #pass>
                    </mat-form-field>
                </div>
                <!-- col full-->
                <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
                    <button mat-raised-button color="primary" class="btn-block btn-lg m-t-20 m-b-20" (click)="login(email.value, pass.value)" type="button">Вход</button>
                </div>
            </div>
        </form>
        </mat-card-content>
        </mat-card>
    </div>
</div>
