<mat-card>
    <mat-card-header>
      <mat-card-title>Make a transfer</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>
        Create form
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>SUBMIT</button>
    </mat-card-actions>
  </mat-card>