<mat-card class="transactions">
    <mat-card-header>
      <mat-card-title>Recent Transaction</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>
        Filters...
      </p>
      <table mat-table [dataSource]="dataSource | async" style="width: 100%;" class="mat-elevation-z8">
      
        <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element" [style.background-color]="statuses[element.status] || ''" style="width: 2px;"></td>
          </ng-container>

        <ng-container matColumnDef="date">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let element"> {{element.date | date}} </td>
        </ng-container>
      
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let element">
              <div>{{element.title}}</div>
              <div>{{types[element.type] || 'unknown payment type'}}</div>
        </td>
        </ng-container>
      
        <ng-container matColumnDef="amount">
          <th mat-header-cell *matHeaderCellDef> </th>
          <td mat-cell *matCellDef="let element"> {{element.amount}} </td>
        </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" style="cursor: pointer;" routerLink="/transfers/view"></tr>
      </table>
    </mat-card-content>
  </mat-card>
